<div class="panel panel-default default-font">
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="pi pi-search"></i>
                <span>Thông tin tìm kiếm</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
                <label class="ui-g-12 ui-md-4 ui-lg-2 control-label vt-align-right">Mã nhân viên</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <input class="form-control" formControlName="employeeCode" maxlength="10" autofocus>
                </div>

                <label class="ui-g-12 ui-md-4 ui-lg-3 control-label vt-align-right">Tên nhân viên</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <input class="form-control" formControlName="employeeName" maxlength="100">
                </div>
            </div>
            <div class="ui-g-12">
                <label class="ui-g-12 ui-md-4 ui-lg-2 control-label vt-align-right">Email</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <input class="form-control" formControlName="email" maxlength="50" autofocus>
                </div>

                <label class="ui-g-12 ui-md-4 ui-lg-3 control-label vt-align-right">Giới tính</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="form-check-inline">
                        <label class="i-checks">
                            <input type="radio" formControlName="gender" class="form-check-input control-label"
                                id="gender_1" [value]="1" name="gender">
                            <i></i>
                            Nam
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="i-checks">
                            <input type="radio" formControlName="gender" class="form-check-input control-label"
                                id="gender_2" [value]="2" name="gender">
                            <i></i>
                            Nữ
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
                <i class="pi pi-search"></i> Tìm kiếm
            </button>
        </div>
    </form>
</div>
<div class="panel panel-default default-font">
    <div class="panel-heading vt-relative">
        <strong class="text-u-c">
            <i class="pi pi-list"></i>
            <span> Danh sách nhân viên</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
            <div>
                <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"><i
                        class="pi pi-plus-circle"></i>
                    Thêm mới
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
            (onLazyLoad)="processSearch($event)" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            [responsive]="true" [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col class="size-1">
                    <col class="size-1">
                    <col class="size-1">
                    <col class="size-7">
                    <col class="size-3">
                    <col class="size-2">
                    <col class="size-6">
                    <col class="size-2">
                    <col class="size-3">
                    <col class="size-3">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <!-- STT -->
                    <th>STT</th>
                    <!-- Sửa -->
                    <th>Sửa</th>
                    <!-- Xóa -->
                    <th>Xóa</th>
                    <!-- Name -->
                    <th>Tên nhân viên</th>
                    <!-- Code -->
                    <th>Mã nhân viên</th>
                    <th>Giới tính</th>
                    <th>Email</th>
                    <th>Ngày sinh</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <!-- STT -->
                    <td class="vt-align-center">{{index+1}}</td>
                    <!-- Edit -->
                    <td class="vt-align-center">
                        <a class="btn-table edit" (click)="prepareSaveOrUpdate(item.employeeId)" [title]="'Sửa'">
                            <i class="pi pi-pencil"></i></a>
                    </td>
                    <!-- Delete -->
                    <td class="vt-align-center">
                        <a class="btn-table delete" (click)="processDelete(item.employeeId)" [title]="'Xóa'">
                            <i class="pi pi-trash"></i></a>
                    </td>
                    <!-- Name -->
                    <td>
                        <div class="d-flex p-l-10">
                            <img class="mat-card-avatar" src="assets/images/users/2.jpg">
                            <div class="m-l-15">
                                <p class="font-medium m-b-0 m-t-0">{{item.employeeName}}</p>
                                <small class="text-muted" style="white-space: break-spaces;">{{item.positionName}} - {{item.departmentName}}</small>
                            </div>
                        </div>
                    </td>
                    <!-- Code -->
                    <td class="vt-align-center">
                        {{item.employeeCode}}
                    </td>
                    <td class="vt-align-center" *ngIf="item.gender == 1">Nam</td>
                    <td class="vt-align-center" *ngIf="item.gender == 2">Nữ</td>
                    <td *ngIf="item.gender != 1 && item.gender != 2"></td>
                    <td>{{item.email}}</td>
                    <td class="vt-align-center">{{item.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td class="vt-align-center" *ngIf="item.status == 1"><span class="customer-badge status-qualified">Đang hoạt động</span></td>
                    <td class="vt-align-center" *ngIf="item.status == 2"><span class="customer-badge status-unqualified">Không hoạt động</span></td>
                    <td *ngIf="item.status != 1 && item.status != 2"></td>
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                    <td [attr.colspan]="6">
                        Không tồn tại bản ghi
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
        </p-table>
    </div>
</div>