<form id="formSearch" [formGroup]="formSearch">
    <div class="page-wrapper" style="display: block;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body">
                            <div>
                                <span class="card-title span-chart-line">Biến động chấm công theo ngày trong tuần</span>
                                <div class="ui-g-12 ui-md-6 ui-lg-3" style="float: right;">
                                    <date-picker [property]="f['dateInWeek']" dateFormat='dd/mm/yy' (onChanged)="changeDate($event)"></date-picker>                                    
                                </div>
                            </div>
                            <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body canvas-pie-1">
                            <h4 class="card-title">Thống kê nhân sự theo độ tuổi</h4>
                            <p-chart type="pie" [data]="data" width="400" height="400" [responsive]="false"></p-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>