<div class="panel panel-default">
    <form id="formChangePassword" [formGroup]="formSave" class="form-material">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="pi pi-user-edit"></i>
                <span class="default-font"> Đổi mật khẩu</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <div class="ui-g-12">
                    <label class="col-md-12" style="font-weight: 500; margin-bottom: 5px; font-size: 15px;">Tên đăng nhập </label>
                    <div class="col-md-12">
                        <input readonly type="text" placeholder="Tên đăng nhập" formControlName="userName" class="form-control form-control-line">
                        <app-control-messages [control]="f['userName']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="col-md-12" style="font-weight: 500; margin-bottom: 5px; font-size: 15px;">Mật khẩu <font size="2" color="red">* </font></label>
                    <div class="col-md-12">
                        <input type="password" placeholder="Mật khẩu cũ" formControlName="oldPassword" class="form-control form-control-line">
                        <app-control-messages [control]="f['oldPassword']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="col-md-12" style="font-weight: 500; margin-bottom: 5px; font-size: 15px;">Mật khẩu mới <font size="2" color="red">* </font></label>
                    <div class="col-md-12">
                        <input type="password" placeholder="Mật khẩu mới" formControlName="newPassword" class="form-control form-control-line">
                        <app-control-messages [control]="f['newPassword']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="col-md-12" style="font-weight: 500; margin-bottom: 5px; font-size: 15px;">Xác nhận mật khẩu mới <font size="2" color="red">* </font></label>
                    <div class="col-md-12">
                        <input type="password" placeholder="Nhập lại mật khẩu mới" formControlName="repeatPassword" class="form-control form-control-line">
                        <app-control-messages [control]="f['repeatPassword']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="ui-g-4"></div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"> <i class="pi pi-save"></i> Đổi mật khẩu</button>
        </div>
    </form>
</div>