<div class="modal-body">
    <form id="formSave" [formGroup]="formSave">
        <div class="panel panel-default default-font">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="pi pi-microsoft"></i>
                    <span *ngIf="!formSave.get('employeeId').value"> Thêm mới nhân viên</span>
                    <span *ngIf="formSave.get('employeeId').value"> Sửa thông tin nhân viên</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading icon-center">
                    <span style="display: inline-block;" (click)="activeModal.close()" title="{{'Đóng'}}"
                        class="btn btn-span btn-sm btn-info"><i class="pi pi-times"></i></span>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Mã nhân viên <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <input disabled class="form-control ng-pristine ng-invalid ng-touched" formControlName="employeeCode" maxlength="10">
                        <app-control-messages [control]="f['employeeCode']"></app-control-messages>
                    </div>

                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Tên nhân viên <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="employeeName" maxlength="100">
                        <app-control-messages [control]="f['employeeName']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Giới tính <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                        <div class="form-check-inline">
                          <label class="i-checks">
                            <input type="radio" formControlName="gender" class="form-check-input control-label" id="gender_1"
                              [value]="1" name="gender">
                            <i></i>
                            Nam
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <label class="i-checks">
                            <input type="radio" formControlName="gender" class="form-check-input control-label" id="gender_2"
                              [value]="2" name="gender">
                            <i></i>
                            Nữ
                          </label>
                        </div>
                        <app-control-messages [control]="f['gender']"></app-control-messages>
                    </div>

                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Ngày sinh <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['dateOfBirth']" dateFormat='dd/mm/yy'></date-picker>
                        <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Số điện thoại <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="phoneNumber" maxlength="20">
                        <app-control-messages [control]="f['phoneNumber']"></app-control-messages>
                    </div>

                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Email <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="email" maxlength="50">
                        <app-control-messages [control]="f['email']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Địa chỉ</label>
                    <div class="ui-g-12 ui-md-6 ui-lg-9">
                        <textarea class="form-control ng-pristine ng-invalid ng-touched" formControlName="address" maxlength="255"></textarea>
                        <app-control-messages [control]="f['address']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Phòng ban <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <app-select-filter [options]="listDepartment" [placeHolder]="'Chọn phòng ban'" [property]="f['departmentId']" optionLabel="departmentName" optionValue="departmentId"></app-select-filter>
                        <app-control-messages [control]="f['departmentId']"></app-control-messages>
                    </div>
                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Chức vụ <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <app-select-filter [options]="listPositions" [placeHolder]="'Chọn chức vụ'" [property]="f['positionId']" optionLabel="positionName" optionValue="positionId"></app-select-filter>
                        <app-control-messages [control]="f['positionId']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Dữ liệu nhận dạng <font size="2" color="red">* </font></label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                        <!-- <input type="file" (change)="handleUploadAvt($event.target.files)" accept="image/*"> -->
                        <div class="custom-file file-input-profile-wrap">
                            <input type="file" (change)="fileChangeEvent($event)" accept="image/*" class="file-input-profile">
                            <div class="img-space">
                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                    <img [src]="cardImageBase64" />
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <img src="../../../../../assets/images/placeholder.jpg" class="img-responsive">
                                </ng-template>
                            </div>
                        </div>
                        <app-control-messages [control]="f['employeeImgUrl']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12" *ngIf="formSave.get('employeeId').value">
                    <!-- salary -->
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Trạng thái</label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                        <div class="form-check-inline">
                            <label class="i-checks">
                                <input type="radio" formControlName="status" class="form-check-input control-label" id="status1" [value]="1" name="status">
                                <i></i> Đang hoạt động
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="i-checks">
                                <input type="radio" formControlName="status" class="form-check-input control-label" id="status2" [value]="2" name="status">
                                <i></i> Không hoạt động
                            </label>
                        </div>
                        <app-control-messages [control]="f['status']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"> <i class="pi pi-save"></i> Lưu lại</button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"> <i class="pi pi-times"></i> Hủy</button>
            </div>
        </div>
    </form>
</div>