<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Xin chào {{userInfo.fullName}}<i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Đổi mật khẩu </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Thông tin cá nhân </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Đăng xuất </button>
    </mat-menu>
</div>

<!-- Menu Nav Start -->
<p-panelMenu [model]="items" [multiple]="false" class="panelmenu-custom"></p-panelMenu>
<!-- Menu Nav End -->