<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <div class="profile-img"> 
        <img *ngIf="!userInfo.employeeImgUrl" src="assets/images/users/profile.png" alt="user">
        <img *ngIf="userInfo.employeeImgUrl" [src]="userInfo.employeeImgUrl" alt="user" style="height: 50px;">
    </div>
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Xin chào {{userInfo.employeeName}}<i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button (click)="changePassword()" mat-menu-item>
            <mat-icon>settings</mat-icon> Đổi mật khẩu
        </button>
        <button (click)="userInformation()" mat-menu-item>
            <mat-icon>account_box</mat-icon> Thông tin cá nhân
        </button>
    </mat-menu>
</div>

<!-- Menu Nav Start -->
<p-panelMenu [model]="items" [multiple]="false" class="panelmenu-custom"></p-panelMenu>
<!-- Menu Nav End -->