<div class="login-register" style="background-image: url(../../../assets/images/background/3546.jpg);">
  <div class="login-register-box">
    <mat-card class="mat-card mat-focus-indicator">
      <mat-card-content class="mat-card-content">
        <form [formGroup]="loginForm" (ngSubmit)="login()" action="POST" class="ng-untouched ng-pristine ng-invalid">
          <div class="text-center">
            <img src="../../../assets/images/logo-icon.png" alt="">
            <h4 class="m-t-0">Hệ thống quản lý chấm công</h4>
          </div>
          <div style="flex-flow: row wrap;box-sizing: border-box;display: flex;" fxlayout="row wrap" ng-reflect-fx-layout="row wrap">
            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;" fxflex.gt-sm="100"
                fxflex.gt-xs="100" fxflex="100" ng-reflect-fx-flex.gt-sm="100" ng-reflect-fx-flex.gt-xs="100" ng-reflect-fx-flex="100">
              <mat-form-field>
                <input matInput placeholder="Username" type="userName" formControlName="userName">
              </mat-form-field>
              <app-control-messages [control]="f['userName']"></app-control-messages>
            </div>
            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;" fxflex.gt-sm="100"
                fxflex.gt-xs="100" fxflex="100" ng-reflect-fx-flex.gt-sm="100" ng-reflect-fx-flex.gt-xs="100" ng-reflect-fx-flex="100">
              <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password">
              </mat-form-field>
              <app-control-messages [control]="f['password']"></app-control-messages>
            </div>
            <div class="text-right" style="flex: 1 1 50%; box-sizing: border-box;" fxflex.gt-sm="50" fxflex.gt-xs="50"
              ng-reflect-fx-flex.gt-sm="50" ng-reflect-fx-flex.gt-xs="50">
              <a href="#" class="link">
                Quên mật khẩu?
              </a>
            </div>
            <div class="alert alert-danger" [hidden]="!error" style="margin-bottom: 0; display: contents;">
              {{error}}
            </div>
            <div fxflex.gt-sm="100" fxflex.gt-xs="100" fxflex="100" ng-reflect-fx-flex.gt-sm="100"
              ng-reflect-fx-flex.gt-xs="100" ng-reflect-fx-flex="100"
              style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
              <button mat-raised-button color="primary" type="submit" class="mat-focus-indicator btn-block btn-lg m-t-20 m-b-20 mat-raised-button mat-button-base mat-primary"
                [disabled]="loginForm.invalid">
                <span class="mat-button-wrapper">Đăng nhập</span>
                <div class="mat-button-focus-overlay"></div>
              </button>
            </div>
            <div class="text-center" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
              <span>Don't have an account? </span>
              <a routerLink="/register" class="text-info link">Signup</a>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>