<div class="panel panel-default default-font">
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="pi pi-search"></i>
                <span>Thông tin tìm kiếm</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
                <label class="ui-g-12 ui-md-4 ui-lg-2 control-label vt-align-right">Ngày chấm công</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <date-picker [property]="f['dateTimekeeping']" dateFormat='dd/mm/yy'></date-picker>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="havePermission('ROLE_ADMIN')">
                <label class="ui-g-12 ui-md-4 ui-lg-2 control-label vt-align-right">Chọn phòng ban</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <app-select-filter [options]="listDepartment" [placeHolder]="'Chọn phòng ban'" [property]="f['departmentId']" 
                        optionLabel="departmentName" optionValue="departmentId"></app-select-filter>
                    <app-control-messages [control]="f['departmentId']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-4 ui-lg-3 control-label vt-align-right">Chọn nhân viên</label>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <app-select-filter [options]="listEmployee" [placeHolder]="'Chọn nhân viên'" [property]="f['employeeId']" 
                        optionLabel="employeeNameCode" optionValue="employeeId"></app-select-filter>
                    <app-control-messages [control]="f['employeeId']"></app-control-messages>
                </div>
            </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
                <i class="pi pi-search"></i> Tìm kiếm
            </button>
            <button type="submit" (click)="exportExcel();" class="btn btn-sm btn-success">
                <i class="pi pi-download"></i> Xuất báo cáo
            </button>
        </div>
    </form>
</div>
<div class="panel panel-default default-font">
    <div class="panel-heading vt-relative">
        <strong class="text-u-c">
            <i class="pi pi-list"></i>
            <span> Danh sách chấm công</span>
        </strong>
    </div>
    <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" [rowsPerPageOptions]="[10,25,50]"
            (onLazyLoad)="processSearch($event)" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            [responsive]="true" [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col class="size-1">
                    <col class="size-3">
                    <col class="size-6">
                    <col class="size-3">
                    <col class="size-3">
                    <col class="size-2">
                    <col class="size-2">
                    <col class="size-3">
                    <col class="size-3">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>STT</th>
                    <th>Ngày chấm công</th>
                    <th>Tên nhân viên</th>
                    <th>Thời gian vào</th>
                    <th>Thời gian ra về</th>
                    <th>Vào muộn</th>
                    <th>Ra về sớm</th>
                    <th>Thời gian vào muộn</th>
                    <th>Thời gian về sớm</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <!-- STT -->
                    <td class="vt-align-center">{{index+1}}</td>
                    <td class="vt-align-center">
                        {{item.dateTimekeeping | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{item.employeeName}}
                    </td>
                    <td class="vt-align-center">
                        {{item.arrivalTime}}
                    </td>
                    <td class="vt-align-center">
                        {{item.departureTime}}
                    </td>
                    <td *ngIf="item.isLate == 1" class="vt-align-center">
                        <span class="customer-badge status-unqualified">Có</span>
                    </td>
                    <td *ngIf="item.isLate != 1" class="vt-align-center">
                    </td>
                    <td *ngIf="item.leftEarly == 1" class="vt-align-center">
                        <span class="customer-badge status-unqualified">Có</span>
                    </td>
                    <td *ngIf="item.leftEarly != 1" class="vt-align-center">
                    </td>
                    <td class="vt-align-center">
                        {{item.arrivalLateTime}}
                    </td>
                    <td class="vt-align-center">
                        {{item.departureEarlyTime}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                    <td [attr.colspan]="6">
                        Không tồn tại bản ghi
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
        </p-table>
    </div>
</div>